@media screen and (max-width: 992px) {
  html {
    min-width: 360px !important;
  }

  .mobile-sreen {
    display: flex !important;
  }

  .desktop-screen {
    display: none !important;
  }
  .link:hover,
  .link{
    background-size: 0;
  }

  .line-right {
    border: none;
  }

  .col {
    display: none;
    margin: 0;
  }

  // menu in mobile
  .header__menu:hover {
    .nav {
      display: flex;
    }
  }
  .header__menu {
    color: #ffffff;
    font-size: 16px;
    width: 72px;
  }

  // header
  .header {
    &__nav {
      display: none;
    }
    &__logo {
      width: 147px;
      height: 32px;
    }
    &__searchbar{
      .content {
        padding: 0px 10px;
      }
    }
    &__hotline {
      .card-history {
        display: none;
      }
      .cart {
        width: 72px;
        .cart-item {
          > p {
            display: none;
          }
          .icon-cart {
            font-size: 24px;
          }
          .cart-number {
            padding: 0;
            right: -24px;
          }
        } 
      }
    }
  }

  // slider
  .swiper {
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }

  // block
  .block {
    &__title {
      font-size: 20px;
      line-height: 28px;
    }
    &__content .block-item {
      .block-info {
        display: none;
      }
      &__img {
        max-width: 58px;
        display: none;
      }
    }
    &__btn-group {
      display: flex;
      flex-direction: column;
      a {
        margin-top: 14px;
      }
    }
  }
  .block-next {
    max-width: 16px;
  }
  // block

  // cate-list
  .cate-list {
    .content {
      overflow: auto;
      margin-bottom: 6px;
    }
    &__name {
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      color: #1e293b;
    }
    &__content {
      // width: 1200px;
      margin: 0px 10px 10px 10px;
      margin-bottom: 6px;
      .cate-row {
        width: 100%;
        .cate-item {
          margin: 0 8px;
          height: 124px;
          padding: 4px;
          gap: 0;
          .cate-media {
            max-width: 64px;
          }
          .cate-text .cate-text-name {
            font-weight: 400;
            font-size: 13px;
            line-height: 18px;
            text-align: center;
            color: #1e293b;
          }
        }
      }
    }
    .cate-item {
      .cate-text .cate-count {
        display: none;
      }
    }
  }
  // cate-list

  //product-block
  .product-block {
    .content {
      width: 100%;
    }
    .product-block-title {
      font-size: 16px;
      line-height: 24px;
      margin-left: 20px;
      .fa-shield {
        font-size: 20px;
      }
    }
    &__list {
      margin-left: 0;
      margin-left: -4px;
      margin-left: -4px;
    }
    .product-item {
      width: calc(100% / 2);
      margin: 0 4px;
      img {
        max-width: 142px;
      }
      .product-block-name {
        font-size: 14px;
        line-height: 20px;
      }
      .product-block-price {
        font-size: 14px;
        line-height: 20px;
        span {
          font-size: 14px;
          line-height: 20px;
        }
      }
      .product-block-price-old {
        font-size: 13px;
        line-height: 18px;
      }
    }
    .swiper {
      width: calc(100% - 20px);
    }
    .swiper-slide {
      margin: 0 8px;
      // margin-right: 8px;
    }
  }
  //product-block

  //product-sell
  .product-selling {
    margin-bottom: 0;
    &__list {
      flex-direction: column;
      margin: 16px 8px;
      overflow-x: auto;
      max-height: 340px;
      .product-sellinng-item:hover {
        border: none;
      }
      .product-sellinng-item {
        max-width: calc(100% / 2.5);
        // flex-basis: calc(100%/2.5);
        padding: 0;
        border: none;
      }
      .product-sell-price {
        font-size: 14px;
        span {
          font-size: 14px;
        }
      }
      .product-sell-price-old {
        font-size: 13px;
      }
    }
    .img-item {
      width: 100%;
    }
    &__title {
      margin-left: 20px;
      font-size: 16px;
      line-height: 24px;
      .fa-user-circle {
        font-size: 20px;
      }
    }
  }
  //product-sell

  .contract-app-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-size: 100%;
    background: url(https://nhathuoclongchau.com/frontend_v3/images/bg-footer-app.png)
      no-repeat 0 0;
    // border: 1px solid #d8e0e8;
    border-radius: 12px;
    // max-width: 400px;
    padding: 0px 12px;
  }

  .app-tiem {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 12px 16px 0px;
    max-width: 236px;
    .app-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .app-title {
      font-size: 20px;
      line-height: 28px;
      color: #072d94;
    }
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #334155;
    }
  }
  .group-app-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .app-img-down {
    max-width: 112px;
  }
  .app-img {
    max-width: 128px;
    margin-top: 12px;
    img {
      border-radius: 17px 17px 0 0;
    }
  }

  // footer
  .footer {
    margin: 0;
    //find
    &__find {
      .link-find {
        .fa-map-marker {
          font-size: 20px;
          margin-right: 8px;
        }
        span {
          font-size: 16px;
          line-height: 24px;
        }
      }
      .btn-find {
        padding: 7px 16px;
        font-size: 14px;
        color: #ffffff;
      }
    }

    .info-title-name {
      box-shadow: inset 0 1px 0 #e4eaf1;
      padding-top: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    //introduce
    &__introduce {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      margin: 12px 0px;
      .content {
        flex-direction: column;
      }
      .introduce-info {
        flex-direction: column;
        width: 100%;
        gap: 10px;
      }
    }

    .introduce-contract {
      display: none;
    }
    .contract-phone-mobile {
      display: flex;
      flex-direction: column;
      font-weight: 400;
      color: #334155;
      .group-phone {
        margin-bottom: 14px;
        a,
        span {
          font-weight: 500;
          font-size: 16px;
          color: #1d48ba;
        }
      }
    }
    .contract-social-mobile {
      display: flex;
      flex-direction: row;
      font-weight: 400;
      color: #334155;
      align-items: center;
      .social-icon {
        align-items: center;
        display: flex;
        flex-direction: row;
        // margin-left: 10px;
        .social-icon-img {
          max-width: 24px;
          margin-left: 12px;
        }
      }
    }
    .contract-certification-mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      .certification-img {
        max-width: 140px;
      }
    }
    &__copyright .content .copy-item {
      text-align: left;
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }
  // footer
}
@media screen and (max-width: 767px) {
  //slider
  .swiper {
    img {
      width: 100%;
      height: 152px;
    }
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }

  // catte-list
  .cate-list {
    &__content {
      width: 750px;
    }
  }

  // .product-selling {
  //   .product-selling-list {
  //     max-height: 290px;
  //   }
  // }
}
